<ul>
  <li><label>Street: </label><%= address.street %></li>
  <li><label>City: </label><%= address.city %></li>
  <li><label>State: </label><%= address.state %></li>
  <li><label>Zip: </label><%= address.zip %></li>
</ul>

<hr />
